*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}   

.hero{
    background-color: black;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.hero .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
   
}
.navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo h2{
    color: white;
}

.navbar .menu .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.nav-links li a{
    color: white;
    font-size: 18px;
}

.navbar .burger{
    display: none;
}

.main-content{
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}
.main-content .content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}
.main-content .content h1{
    color: white;
    font-size: 46px;
}

.btn-group{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
    gap: 20px;


}

.btn{
    background-color: orange;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
}

@media(max-width:900px){
    .navbar .menu {
        display: none;
    }
    .navbar .burger{
        display: block;
    }
    .navbar .burger div{
        background-color: white;
        margin: 5px;
        height: 3px;
        width: 25px;
        transition: all 0.3s ease-in;
    }
}

.south-indian{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 0;
   
}
.south-indian .south-indian-content{
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 10px;
    margin: 20px 0px;
}

.south-indian-images{
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.south-indian-images img{
width: 200px;
border-radius: 20px;
}

.south-indian-images .img-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.south-indian-images .img-name div{
    font-size: 22px;
    font-weight: 500;
}

.recipet{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 23, 23);
    flex-direction: column;
    gap:20px;
  
}

form {
    border: 1px solid white;
    padding: 35px;
}
fieldset{
    padding: 25px;
}
fieldset legend{
  font-size: 20px;
  color: white;
}

.user-details{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}


.recipet .customer-input{
    padding: 10px 60px;
     border-radius: 10px;
     border: none;
}

.add-btn{
    padding: 40px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-details{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.item-input{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

.submit-btn{
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#invoice-container{
    
    width: 55%;
    margin: 0 22%;
    
    background-color: rgb(249, 246, 238);
    padding: 0 40px;
   
}


.logo_part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
   
   
}
.res-logo{
    height: 85px;
    width: 85px;
}
.invoice-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.customer_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.customer_name_part{
    text-transform: capitalize;
    font-size: 20px;
    color: #4a211d  
}
.customer_address_part{
    color: #4a211d  ;
}
.invoice_name{
    color: #4a211d;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}


.invoice-header, .invoice-details, .invoice-items, .invoice-total {
    margin-bottom: 20px;


}

.invoice-items table {
  
     width: 80%;
     margin: auto;
    border-collapse: collapse;
}
.invoice-items table, .invoice-items th, .invoice-items td {
    border-bottom: 1px solid #000;
}

.invoice-items th, .invoice-items td {
    padding: 8px;
    text-align: left;
}
.invoice-items th{
    font-size: 20px;
    color: #4a211d;
}

.invoice-total table{
    
    margin-right: 20px;
    border-collapse: collapse;
}


.invoice-total table, .invoice-total td, .invoice-total th {
    border-bottom: 1px solid black;
    padding: 8px 20px;
}
.middle_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.para_info{
    color: #4a211d;
    font-size: 22px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 25px;
}




